body {
  /* overflow: hidden; */
  height: 100vh;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
}

.searchInput {
  margin: 12px 0;
  width: calc(100% - 10px);
}

.searchInput:focus {
  border-color: #495057;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(73, 80, 87, .25);
}

.jumbotron {
  margin-bottom: 0;
  z-index: 1;
  height: 321px;
  background-color: white;
}

.avatar {
  width: 100px;
  height: 100px;
}

.uploadBtn {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 4px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

.uploadBtn input[type=file] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
}

.list-group-item.active {
  color: white;
  border-top: 1px solid #343a40;
  border-bottom: 1px solid #343a40;
  background-color: #343a40;
}

.empty-contact-list-item {
  height: 50px;
}

.dot {
  display: none;
  float: left;
  margin-top: calc(12px - 4px);
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #495057;
}